/*Bootstrap specific*/

header .jumbotron {
    background: url('../images/cityheader.jpg');
    background-position: center center;
}
.jumbotron {
     min-height: 250px;
}
.jumbotron h1 {
    color: #FFFFFF;
    font-size: 75px;
}

/*General */
body {
    
}

.sort-button {
    margin: 0 10px 0 0;
} 

